.main_img{
	margin-top: 40px;
	width:100%;
}
*,
*:after,
*:before {
	box-sizing: border-box;
}
html {
	overflow-y: scroll;
}
body,
html {
	font-size: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #202020;
	background: lightgrey;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
ul{
	text-align: left;
}
footer{
	margin-bottom: 83px;
}
.footer_filler{
	height: 15px;
	padding: 0;
}
.flag{
	padding: 0;
}
/* Helper classes */
.cf:before,
.cf:after {
	content: ' ';
	display: table;
}
.cf:after {
	clear: both;
}
.hidden {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
.shopping_cart{
	position: fixed;
	bottom: 100px;
	right: 5px;
	height: 300px;
	width:400px;
	color: white;
	background-color: #131415;
	font-family: 'Karla', Arial, Helvetica;
	border-radius: 3px;
	z-index: 15;
	visibility:hidden;
	overflow-x:hidden;
  overflow-y:visible;
}
.shopping_cart_total{
	display: block;
	text-align: center;
	font-size: 120%;
}
.shopping_cart_cost{
	display: block;
	text-align: right;
	font-size: 100%;
	margin-right: 20px;
	padding-bottom: 20px;
}
.basket_icon{
	position: fixed;
	text-align: center;
	bottom: 87px;
	right: 30px;
	height:25px;
	width:25px;
	background-color: #131415;
	z-index: 5;
	transform: rotate(45deg);
	visibility:hidden;
}
table *{
	color: white;
}
hr{
	margin-top: 20px;
}
#cartcontent{
	width: 90%;
}
.buy_button_div, .reset_button_div{
	text-align: center;
}
.cart_buy_button{
	text-decoration: none;
	color: white;
	background-color: black;
	display: block;
	height: 30px;
}
.cart_buy_button:hover, .cart_buy_button:active {
	color: black;
	background-color: white;
	border: 1px solid grey;
	transition: all 0.2s;
	cursor: pointer;
}
.button_margin{
	padding-top: 5px;
}
.cart_reset_button{
	text-decoration: none;
	color: white;
	background-color: grey;
	display: block;
	height: 30px;
}
.cart_reset_button:hover, .cart_reset_button:active {
	color: black;
	background-color: white;
	border: 1px solid grey;
	cursor: pointer;
	transition: all 0.2s;
}






@media screen and (max-width: 640px){
	.shopping_cart{
		bottom: 70px;
		width: 95%;
		left: 50%;
		transform: translateX(-50%);
	}
	.basket_icon{
		bottom: 60px;
		right: 35px;
		height:25px;
		width:25px;
		background-color: #131415;
		z-index: 5;
		transform: rotate(45deg);
	}
	footer{
		margin-bottom: 55px;
	}
	.cart_buy_button:hover, .cart_buy_button:active {
		color: black;
		background-color: white;
		border: 1px solid grey;
		cursor: pointer;
	}
	.cart_reset_button:hover, .cart_reset_button:active {
		color: black;
		background-color: white;
		border: 1px solid grey;
		cursor: pointer;
	}
}
@media screen and (min-width: 640px) and (max-width: 999px){
	.ico {
		display: none;
	}
}
@media screen and (min-width: 1000px) {
	.ico {
		display: none;
	}
}
@media screen and (max-width: 999px) {
	.slider__item {
		font-size: 70%;
	}
}
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
