@media only screen and (min-width: 1201px) {
body{
	margin: 0;
	padding: 0;
	background-color: grey;
}
header{
 width: 100%;
 background-color: white;
}
#logo{
font-size: 25px;
font-family: sans-serif, Arial, Helvetica;
margin-left:15%;
padding-top:2%;
display:inline-block;
}
#navigation{
	display:inline-block;
	margin-left:20%;
	margin-bottom:0.7%;
	width: 50%;
}
li{
display:inline-block;
padding-right: 4%;
font-size: 13px;
font-family: sans-serif, Arial, Helvetica;
}
.navigation{
	color: black;
	text-decoration: none;
}
.navigation:hover{
	color: #ff9933;
}
.active{
	color: #ff9933;
}
.divider{
	color: #dddddd;
}
#slider{
background-color: #efcd53;
height:800px;
}
#phone{
	position: relative;
    left: 50%;
    top: 150px;
	height: 70%;
    width: 40%;
}
.burger_menu{
	display:none;
}
}






@media only screen and (max-width: 1200px) and (min-width: 768px) {
body{
	margin: 0;
	padding: 0;
	background-color: grey;
}
header{
 width: 100%;
 background-color: white;
}
#logo{
font-size: 25px;
font-family: sans-serif, Arial, Helvetica;
padding-top:2%;
text-align: center;
}
#navigation{
	text-align: center;
	overflow: hidden;
}
li{
display:inline-block;
padding-right: 4%;
font-size: 13px;
font-family: sans-serif, Arial, Helvetica;
}
.navigation{
	color: black;
	text-decoration: none;
}
.navigation:hover{
	color: #ff9933;
}
.active{
	color: #ff9933;
}
.divider{
	color: #dddddd;
}
#slider{
background-color: #efcd53;
height:800px;
}
#phone{
	position: relative;
    left: 50%;
    top: 150px;
	height: 70%;
    width: 40%;
}
.burger_menu{
	display:none;
}
}




@media only screen and (max-width: 767px) {
body{
	margin: 0;
	padding: 0;
	background-color: grey;
}
header{
 width: 100%;
 background-color: white;
}
#logo{
font-size: 25px;
font-family: sans-serif, Arial, Helvetica;
padding-top:2%;
text-align: center;
}
#navigation{
	text-align: center;
	overflow: hidden;
}
li{
padding-right: 4%;
font-size: 13px;
font-family: sans-serif, Arial, Helvetica;
list-style: none;
}
.navigation{
	color: black;
	text-decoration: none;
	 display: none;
 position: absolute; 
}
.navigation:hover{
	color: #ff9933;
}
.active{
	color: #ff9933;
}
.divider{
	display: none;
}
#slider{
background-color: #efcd53;
height:800px;
}
#phone{
	position: relative;
    left: 50%;
    top: 150px;
	height: 70%;
    width: 40%;
}
.burger_menu{
	width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.burger_menu:hover > div{
	display:inherit;
}
.mobile_menu{
	float:right;
}
.bob{
display: flex;
}


	
/* Display Dropdowns on Hover 
nav ul li:hover > ul {
 display:inherit;
}
	
/* Fisrt Tier Dropdown 
nav ul ul li {
 width:170px;
 float:none;
 display:list-item;
 position: relative;
}

	
/* Change this in order to change the Dropdown symbol 
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }*/






}