/*      MAIN		*/
html, body{
	scroll-behavior: smooth;
}
body{
	background-color: #ecedef;
	height: calc(100% - 50px);
}
.navigation_bar{
	top: 0;
}
#customiser_output{
	position: relative;
	margin-top: -100px;
	width: 70%;
	z-index: -1;
	left: 50%;
	transform: translateX(-50%);
}
#layer1{
	background: url('../assets/custom/sobakov/sobakov_black.png');
	background-repeat: no-repeat;
 	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}
#layer2{
	background: url('../assets/custom/sobakov/sobakov_black_bars.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
#layer3{
	background: url('../assets/custom/sobakov/sobakov_black_laces_3.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
#layer4{
	background: url('../assets/custom/sobakov/sobakov_black_sole_3.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}
canvas{
	height: 80vh;
  width: 70vw;
  display: block;
}
#colors{
	margin-top:23%;
	transform: translateY(-25%);
	margin-left: 4%;
	width:11%;
	float: left;
}
#color1{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: pink;
	margin-bottom: 20px;
	cursor: pointer;
}
#color2{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: #b3b3b3;
	margin-bottom: 20px;
	cursor: pointer;
}
#color3{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: #333333;
	margin-bottom: 20px;
	cursor: pointer;
}
#color4{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: #42a5e4;
	cursor: pointer;
}
#parts{
	position: relative;
	margin-top:23%;
	margin-left: 89%;
}
#laces{
	width: 100px;
	height: 100px;
	background-image: url('../assets/custom/parts/lace.png');
	background-color: white;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-bottom: 20px;
	cursor: pointer;
}
#soles{
	width: 100px;
	height: 100px;
	background-image: url('../assets/custom/parts/sole.png');
	background-color: white;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-bottom: 20px;
	cursor: pointer;
}
#straps{
	width: 100px;
	height: 100px;
	background-image: url('../assets/custom/parts/straps.png');
	background-color: white;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}
/*footer {
	position: absolute;
  right: 0;
  bottom: 24px;
  left: 0;
}*/
