/*      MAIN    */
html, body{
	scroll-behavior: smooth;
}
body{
	background-color: #ecedef;
	height: calc(100% - 50px);
}
.navigation_bar{
	top: 0;
}
.title_white{
	margin-top: 55px;
}
#customiser_output{
	position: relative;
	margin-top: -70px;
	width: 70%;
	z-index: -1;
	left: 50%;
	transform: translateX(-50%);
}
#layer1{
	background: url('../assets/custom/sobakov/sobakov_black.jpg');
	background-repeat: no-repeat;
 	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}
#layer2{
	background: url('../assets/custom/sobakov/sobakov_black_bars.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
#layer3{
	background: url('../assets/custom/sobakov/sobakov_black_laces_3.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
#layer4{
	background: url('../assets/custom/sobakov/sobakov_black_sole_3.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}
canvas{
	height: 80vh;
  width: 70vw;
  display: block;
}
#colors{
	width:100%;
	text-align: center;
	margin-top:75%;
}
#color1{
	border-radius: 50%;
	width: 65px;
	height: 65px;
	background-color: pink;
	margin-left: 20px;
	cursor: pointer;
	display:inline-block;
}
#color2{
	border-radius: 50%;
	width: 65px;
	height: 65px;
	background-color: #b3b3b3;
	margin-left: 20px;
	cursor: pointer;
	display:inline-block;
}
#color3{
	border-radius: 50%;
	width: 65px;
	height: 65px;
	background-color: #333333;
	margin-left: 20px;
	cursor: pointer;
	display:inline-block;
}
#color4{
	border-radius: 50%;
	width: 65px;
	height: 65px;
	background-color: #42a5e4;
	margin-left: 20px;
	cursor: pointer;
	display:inline-block;
}
#parts{
	width:100%;
	text-align: center;
	margin-top:0%;
}
#laces{
	width: 65px;
	height: 65px;
	background-image: url('../assets/custom/parts/lace.png');
	background-color: white;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 20px;
	cursor: pointer;
	display:inline-block;
}
#soles{
	width: 65px;
	height: 65px;
	background-image: url('../assets/custom/parts/sole.png');
	background-color: white;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 20px;
	cursor: pointer;
	display:inline-block;
}
#straps{
	width: 65px;
	height: 65px;
	background-image: url('../assets/custom/parts/straps.png');
	background-color: white;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 20px;
	cursor: pointer;
	display:inline-block;
}
#shoe_choice{
	width:100%;
	text-align: center;
}
#men{
	width: 100px;
	height: 100px;
	background-image: url('../assets/custom/sobakov/sobakov_black.jpg');
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	border:1px solid grey;
	display:inline-block;
}
#women{
	width: 100px;
	height: 100px;
	background-image: url('../assets/custom/sobakov/sobakov2_pink.jpg');
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	border:1px solid grey;
	display:inline-block;
}
#price_breakdown{
	position: relative;
	left: 50%;
	transform: translateX(-25%);
}
#price_breakdown_table{
	width: 50%;
	height: 30%;
	background-color: white;
  border-collapse: collapse;
	font-family: 'Karla', Arial, Helvetica;
	margin-top: 30px;
}
#price_breakdown_table .border-top{
	border-top: 1px solid grey;
}
.buy_button_table, .reset_button_table{
	text-align: center;
}
.buy_button{
	text-decoration: none;
	color: white;
	background-color: black;
	display: block;
	height: 30px;
}
.buy_button:hover, .buy_button:active {
	color: black;
	background-color: white;
	border: 1px solid grey;
	cursor: pointer;
}
.button_margin{
	padding-top: 5px;
}
.reset_button{
	text-decoration: none;
	color: white;
	background-color: grey;
	display: block;
	height: 30px;
}
.reset_button:hover, .reset_button:active {
	color: black;
	background-color: white;
	border: 1px solid grey;
	cursor: pointer;
}
