/*      MAIN    */
html, body{
	scroll-behavior: smooth;
	height: 95%;
}
body{
	background-color: #ecede0;
	min-height: 100%;
}
.navigation_bar{
	top: 0;
}
footer {
  position: absolute;
  right: 0;
  bottom: 24px;
  left: 0;
}
#customiser{
	position: relative;
	margin-top: -40px;
	width: 70%;
	left:50%;
	transform: translateX(-50%);
}
#layer1{
	background: url('../assets/custom/sobakov/sobakov_black.png');
	background-repeat: no-repeat;
 	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}
#layer2{
	background: url('../assets/custom/sobakov/sobakov_black_bars.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
#layer3{
	background: url('../assets/custom/sobakov/sobakov_black_laces.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
#layer4{
	background: url('../assets/custom/sobakov/sobakov_black_sole.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}
canvas{
	height: 80vh;
  width: 70vw;
  display: block;
}
