/*      MAIN    */
html, body{
	scroll-behavior: smooth;
	height: 100%;
}
body {
	background-color: lightgrey;
	margin: 0;
	padding: 0;
}
header{
	left: 0;
	right: 0;
}
.arrow{
	display: block;
	padding: 9px;
	position: absolute;
	top: 85vh;
	right: 3vw;
}
.title_white{
	background-color:white;
	color: black;
	width: 100%;
}
.title_black{
	background-color:black;
	color: white;
	width: 100%;
}
.title_white h1, .title_black h1{
	padding-top:1%;
	padding-bottom:1%;
	font-size: 3rem;
	text-align:center;
	font-family: 'adidas';
}
.extra_margin, .men_box, .pureboost_box1, .product_box_1, .product_box{
	margin-top: -40px;
}
.men_box, .women_box, .kids_box, .product_box_1, .product_box{
	position:relative;
}
.first_selection, .sobakov_img, .pureboost_img, .sport_img{
	width:100%;
}
.inline_wrapper{
	margin-top: -40px;
}
.sobakov_item2{
  float:left;
  width:50%;
	position:relative;
}
.pureboost_box1, .pureboost_box2, .sport_item, .sobakov_item{
	position:relative;
}
.newsletter{
	background-color: #262626;
	margin-top: -30px;
	text-align: center;
	height: 220px;
}
.newsletter p{
	padding-top: 50px;
	font-size: 1.4rem;
	text-align:center;
	font-family: 'adidas';
	color: white;
}
.newsletter p span{
	color: #39e600;
}
.newsletter input {
  border: 4px solid white;
  padding: 15px;
	width: 80%;
}
.newsletter_button{
	background-color: black;
	color: #39e600;
	width: 55px;
	height: 55px;
	font-size: 1.8rem;
	text-align:center;
	font-family: 'adidas';
	display:inline-block;
}
.newsletter_button_link{
	cursor: pointer;
}
.overlay, .overlay2{
	position: fixed;
	text-align: center;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	height: 100px;
	width:300px;
	font-family: 'Karla', Arial, Helvetica;
	border-radius: 3px;
	display: none;
	z-index: 10;
}
.overlay{
	background-color: #83d191;
}
.overlay2{
	background-color: #d18c83;
}
.second_line{
	background-color: #dfdfdf;
	height: 85px;
	margin-top: 10px;
}
.close, .close2{
	float: right;
 	position: relative;
	margin-right: 10px ;
	font-size: 1.5rem;
	color: white;
	cursor: pointer;
}
footer{
	font-size: 1.2rem;
	text-align:center;
	font-family: 'adidas';
	color: white;
	background-color: #808080;
	margin-top: -24px;
	margin-bottom: -24px;
	height: 215px;
}
footer *{
	padding:5px;
	display: block;
}
footer a{
	color: white;
	text-decoration: none;
}
footer .flag{
	margin-left: auto;
	margin-right: auto;
}
.links{
	padding-top: 5px;
	padding-bottom: 5px;
}
.info_box{
	color: white;
	text-align: center;
	width: 100%;
	font-family: 'adidas';
	line-height: 1;
	background-color:#1a2226;
}
.info_box_centre{
	font-size: 1.5rem;
}
.info_box_left{
	font-size: 1.5rem;
}
.info_box_right{
	font-size: 1.5rem;
}
.info_box_left span, .info_box_right span{
	font-family: 'Karla', Arial, Helvetica;
	font-size: 0.9rem;
}
.info_box_centre span{
	font-family: Trebuchet MS, Arial, Helvetica;
	font-size: 0.9rem;
}
.footer_margin{
	margin-top: 0px;
}
.product_box{
	margin-top: 0px;
}
.first_section{
			margin-top: 40px;
}
.minus_margin{
	margin-top: 0px;
}
.margin_top{
	height:15px;
}
@-moz-document url-prefix() {
	.margin_top{
		height:15px;
	}
}



/*      ADIDAS LOGO    */
.logo-box{
	width: 200px;
	height: 100px;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	overflow: hidden;
}
.large-dash, .medium-dash, .small-dash{
	width: 20%;
	background: #fff;
	float: right;
}
.logo-box .small-dash{
	height: 40px;
	position: absolute;
	top: 78%;
	left: 8%;
	transform: rotate(-30deg);
	animation-name: small-dask-ani;
	animation-duration: 2.5s;
	opacity: 1;
}
.logo-box .medium-dash{
	height: 90px;
	position: absolute;
	top: 39%;
	left: 37%;
	transform: rotate(-30deg);
	animation-name: medium-dask-ani;
	animation-duration: 1.8s;
	opacity: 1;
}
.logo-box .large-dash{
	height: 120px;
	position: absolute;
	top: 2%;
	left: 64%;
	transform: rotate(-30deg);
	animation-name: large-dask-ani;
	animation-duration: 0.8s;
	opacity: 1;
}
.logo-box-text{
	top: 44%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	overflow: hidden;
	color: white;
	font-size: 4rem;
	font-family: 'adidas';
}
@keyframes large-dask-ani {
	from {top: -100%;left:29%;opacity:0.0;}
	to {top: 2%;left:64%;opacity:1.0;}
}

@keyframes medium-dask-ani {
	from {top: -100%;left:-10%;opacity:0.0;}
	to {top: 39%;left:37%;opacity:1.0;}
}

@keyframes small-dask-ani {
	from {top: -100%;left:-40%;opacity:0.0;}
	to {top: 78%;left:8%;opacity:1.0;}
}






/*      VIDEO   */
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../assets/main_img.jpg) no-repeat;
    background-size: cover;
}





/*      ADIDAS FONT    */
@font-face {
	font-family: 'adidas';
	src: url('../font/texgyreadventor-regular.eot');
	src: url('../font/texgyreadventor-regular.eot?#iefix') format('embedded-opentype'),
	url('../font/texgyreadventor-regular.woff2') format('woff2'),
	url('../font/texgyreadventor-regular.woff') format('woff'),
	url('../font/texgyreadventor.otf') format('opentype'),
    url('../font/texgyreadventor-regular.ttf') format('truetype'),
	url('../font/texgyreadventor-regular.svg#') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
