/*      MAIN    */
html, body{
	scroll-behavior: smooth;
	height: 100%;
}
body {
	background-color: lightgrey;
	margin: 0;
	padding: 0;
}
header{
	left: 0;
	right: 0;	
}
.arrow{
	display: block;
	padding: 9px;
	position: absolute;
	top: 85vh;
	right: 3vw;
}
.title_white{
	background-color:white;
	color: black;
	width: 100%;
}
.title_black{
	background-color:black;
	color: white;
	width: 100%;
}
.title_white h1, .title_black h1{
	padding-top:1%;
	padding-bottom:1%;
	font-size: 3rem;
	text-align:center;
	font-family: 'adidas';
}
.extra_margin, .men_box, .pureboost_box1{
	margin-top: -40px;
}
.men_box, .women_box, .kids_box{
	position:relative;
}
.first_selection, .sobakov_img, .pureboost_img, .sport_img{
	width:100%;
}
.inline_wrapper{
	margin-top: -40px;
    overflow:hidden;
}
.sobakov_item{
	position:relative;
}
.sobakov_item2{
    float:left; 
    width:50%;
	position:relative;
}
.pureboost_box1, .pureboost_box2{
	position:relative;
}
.sport_item{
	position:relative;
}
.newsletter{
	background-color: #262626;
	margin-top: -30px;
	text-align: center;
	height: 220px;
}
.newsletter p{
	padding-top: 1.5%;
	font-size: 1.8rem;
	text-align:center;
	font-family: 'adidas';
	color: white;
}
.newsletter p span{
	color: #39e600;
}
.newsletter input {
    border: 4px solid white;  
    padding: 15px;
	width: 80%;
}
.newsletter_button{
	background-color: black;
	color: #39e600;
	width: 55px;
	height: 55px;
	font-size: 1.8rem;
	text-align:center;
	font-family: 'adidas';
	display:inline-block;
}
footer{
	font-size: 1.2rem;
	text-align:center;
	font-family: 'adidas';
	color: white;
	background-color: #808080;
	margin-top: -24px;
	margin-bottom: -24px;
	height: 200px;
}
footer *{
	padding:5px;
	display: block;
}
footer .flag{
	margin-left: auto;
	margin-right: auto;
}
.links{
	padding-top: 5px;
	padding-bottom: 5px;
}
.info_box{
	position: absolute;
	color: white;
	text-align: center;
	width: 400px;
	font-family: 'adidas';
	line-height: 1;
	background-color:rgba(0,0,0,0.5); 
}
.info_box_centre{
	margin-left: 50%;
	margin-top: 28%;
	transform: translateX(-50%);
}
.info_box_left{
	font-size: 2.2rem;
	margin-left: 15%;
	margin-top: 28%;
	transform: translateX(-15%);
}
.info_box_right{
	font-size: 2.2rem;
	margin-left: 85%;
	margin-top: 28%;
	transform: translateX(-85%);
}
.info_box_left span, .info_box_right span{
	font-family: 'Karla', Arial, Helvetica;
	font-size: 1.0rem;
}
.info_box_centre span{
	font-family: Trebuchet MS, Arial, Helvetica;
	font-size: 0.8rem;
}






/*      NAVIGATION BAR    */
.navigation_bar{
	background-color: #262626;
	width: 100%;
	height: 55px;
	position: fixed;
	z-index:1;
}
.navigation_bar a{
	color:white;
	font-family: Trebuchet MS, Arial, Helvetica;
	font-size:1.5rem;
	}
.navigation_bar h1{
	margin: 0 0 0 1rem;
	padding: 0;
	color: white;
	font-size: 2rem;
	font-family: 'adidas';
}
.navigation_block{
	width:33.3333%;
	height: 55px;
	float: left;
	text-align: center;
}
.navigation_block li{
	display: block;
    margin-left: auto;
    margin-right: auto;
	overflow: hidden;
}
.navigation_block ul{
	display:flex;
}
.video{
	height:100%;
	width:100%;
}
.navigation_bar a{
	visibility:hidden;
}






/*      ADIDAS LOGO    */
.logo-box{
	width: 200px;
	height: 230px;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	overflow: hidden;
}
.large-dash, .medium-dash, .small-dash{
	width: 20%;
	background: #fff;
	float: right;
}
.logo-box .small-dash{
	height: 100px;
	position: absolute;
	top: 90%;
	left: 14%;
	transform: rotate(-30deg);
}
.logo-box .medium-dash{
	height: 215px;
	position: absolute;
	top: 73%;
	left: 51%;
	transform: rotate(-30deg);
}
.logo-box .large-dash{
	height: 165px;
	position: absolute;
	top: 61%;
	left: 68%;
	transform: rotate(-30deg);
}
.logo-box-text{
	top: 48%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	overflow: hidden;
	color: white;
	font-size: 4rem;
	font-family: 'adidas';
}







/*      VIDEO   */
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../assets/main_img.jpg) no-repeat;
    background-size: cover; 
}





/*      ADIDAS FONT    */
@font-face {
	font-family: 'adidas';
	src: url('../font/texgyreadventor-regular.eot');
	src: url('../font/texgyreadventor-regular.eot?#iefix') format('embedded-opentype'),
	url('../font/texgyreadventor-regular.woff2') format('woff2'),
	url('../font/texgyreadventor-regular.woff') format('woff'),
	url('../font/texgyreadventor.otf') format('opentype'),
    url('../font/texgyreadventor-regular.ttf') format('truetype'),
	url('../font/texgyreadventor-regular.svg#') format('svg');      
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}